hr{
	width:50px;
	height:3px;
}
button{
	width:550px;
	height:45px;
}
.ourMission {
	h1{
		font-size:$avarageFontSize
	}
	button{
		margin:15px 0;	
		h4{
			float:left;
			display: inline;
		}
		i{
			float:right;
			color:$mainColor
		}
	}
}
.ourStatics{
	h1{
		font-size:$avarageFontSize
	}
	div{
		width: 170px;
		height: 130px;
		background-color:$mainColor;
		float:left;
		border-radius: 3px;
		margin:2px;
		transition-delay:0.1s;
		transition:all 0.3s ease;
		&:hover{
			background-color: #414547
		}
		h1 , p {
			color:white;
			text-align:center
		}
		h1{
			font-size:3em;
			font-weight:700
		}
	}
}