$mainHeight:275px;
$littleFontSize:15px;
$avarageFontSize:20px;
$mainColor:#31A3DD;
.iconContentAwesome{
	font-family: FontAwesome ;
	font-size:3em;
	color:#F1F1F1;
	background-color:white;
	position:relative;
	bottom:30px;
	padding:0 10px;	
	transition:all 0.5s ease;
	transition-delay:0.1s
}
#article{
	height:auto;	
	.row{
		div{
			width:350px;
			height: 170px;
			border:3px solid #F1F1F1;
			float:left;
			margin:20px;
			transition:all 0.2s ease;
			h1{
				font-size:20px;
				margin:0
			}
			p{
				color:#555555
			}
			&:first-child:before{
				content:"\f108";
				@extend .iconContentAwesome;	
			}
			&:nth-child(2):before{
				content:"\f0eb";
				@extend .iconContentAwesome
			}
			&:last-child:before{
				content: "\f121";
				@extend .iconContentAwesome
			}
			&:hover{
				border:3px solid #31A3DD;
				&:first-child:before , &:nth-child(2):before , &:last-child:before{
					color:#31A3DD;
					bottom:40px;
				}

			}
		}
	}
}