#header{
	
	.col-md-2{
		padding: 10px;
		height: 100%;
		border:1px solid #F1F1F1;
	i{
		color:#999999;
	}
	}
	.contact div{
		padding: 10px;
		height: 100%;
		border:1px solid #F1F1F1;
		color:#999999;
	}	
	.toolbar{
		border:fixed;

		div:first-child{
			margin: 0 auto;
			padding:0 auto;
		}
		div:nth-child{
			padding:20px;

		}
		.col-md-2{
			padding:0;
			border:none;

			img{
				margin: 5px 20px;
			}
		}
		a:hover{
			background: #31A3DD;
			border-radius:15px;
			color: white;
		}
		ul{
			margin:30px 60px;
			border-radius:50%;
		}
	}

}